<div class="categoria-container">
  <h2>Categoría de Producto</h2>


  <button class="btn-primary" (click)="abrirModal()">
    ➕ Crear nueva categoría
  </button>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (Categoria of Categorias; track Categoria.id) {
      <tr>
        <td>{{ Categoria.nombre }}</td>

        <td>
          @if (Categoria.activo) {
          <span class="estado-activo">
            🟢 Activo
          </span>
          } @else {
          <span class="estado-inactivo">
            🔴 Inactivo
          </span>
          }
        </td>

        <td>
          <button (click)="editarCategoria(Categoria)">✏️ Editar</button>

          <button (click)="cambiarEstadoCategoria(Categoria)">
            {{ Categoria.activo
            ? '🔴 Desactivar'
            : '🟢 Activar'
            }}
          </button>

        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal" *ngIf="modalAbierto">
    <div class="modal-content">
      <h3>{{ editando ? 'Editar Categoría' : 'Crear Categoría' }}</h3>

      <!-- FORMULARIO -->
      <form #formCategoria="ngForm" (ngSubmit)="guardarCategoria()">

        <input type="text" name="nombre" placeholder="Nombre de la categoría" [(ngModel)]="CategoriaActual.nombre"
          required #nombre="ngModel" />
        <div *ngIf="nombre.invalid && nombre.touched" class="error">
          ⚠️ El nombre es obligatorio.
        </div>

        <div class="buttons">
          <button type="submit" [disabled]="formCategoria.invalid">
            {{ editando ? 'Guardar cambios' : 'Crear' }}
          </button>
          <button type="button" (click)="cerrarModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>