<nav class="navbar">
  <div class="logo">DStore M1</div>

  <div><button (click)="logout()">Salir</button></div>

  <div class="menu">
    <a routerLink="/inicio">Inicio</a>

    <!-- SOLO ADMIN -->
    <a *ngIf="authService.getRol() === 'ROLE_ADMIN'" routerLink="/usuarios">
      Usuarios
    </a>

    <a *ngIf="authService.getRol() === 'ROLE_ADMIN'" routerLink="/roles">
      Roles
    </a>

    <!-- ADMIN y VENDEDOR -->
    <a routerLink="/categoria">Categoría de Producto</a>
    <a routerLink="/presentacion">Presentación</a>
    <a routerLink="/marca">Marca</a>
    <a routerLink="/clientes">Clientes</a>
    <a routerLink="/producto">Producto</a>
    <a routerLink="/entradas-inventario">Entradas inventario</a>
    <a routerLink="/existencias">Existencias</a>
    <a routerLink="/proximos-vencer">⚠️ Próximos a vencer</a>
    <a routerLink="/movimientos-inventario">Movimientos Inventario</a>
    <a routerLink="/ajuste-inventario">Ajuste Inventario</a>
    <a routerLink="/venta">Ventas</a>l
    <a routerLink="/nueva-venta">Caja</a>
  </div>
</nav>