<aside class="sidebar">

  <div class="sidebar-header">

    <div class="logo">
      DStore
    </div>

    <span class="version">
      Inventory & Sales
    </span>

  </div>


  <nav class="menu">

    <!-- PRINCIPAL -->

    <div class="menu-section">

      <span class="menu-title">
        Principal
      </span>

      <a
        routerLink="/inicio"
        routerLinkActive="active">

        🏠 Inicio

      </a>

    </div>


    <!-- VENTAS -->

    <div class="menu-section">

      <span class="menu-title">
        Ventas
      </span>

      <a
        routerLink="/nueva-venta"
        routerLinkActive="active">

        🛒 Nueva venta

      </a>

      <a
        routerLink="/venta"
        routerLinkActive="active">

        📋 Historial de ventas

      </a>

      <a
        routerLink="/clientes"
        routerLinkActive="active">

        👥 Clientes

      </a>

    </div>


    <!-- INVENTARIO -->

    <div class="menu-section">

      <span class="menu-title">
        Inventario
      </span>

      <a
        routerLink="/entradas-inventario"
        routerLinkActive="active">

        📥 Entradas

      </a>

      <a
        routerLink="/existencias"
        routerLinkActive="active">

        📦 Existencias

      </a>

      <a
        routerLink="/proximos-vencer"
        routerLinkActive="active">

        ⚠️ Próximos a vencer

      </a>

      <a
        routerLink="/movimientos-inventario"
        routerLinkActive="active">

        🔄 Movimientos

      </a>

      <a
        routerLink="/ajuste-inventario"
        routerLinkActive="active">

        🛠️ Ajustes

      </a>

    </div>


    <!-- PRODUCTOS -->

    <div class="menu-section">

      <span class="menu-title">
        Productos
      </span>

      <a
        routerLink="/producto"
        routerLinkActive="active">

        🏷️ Productos

      </a>

      <a
        routerLink="/categoria"
        routerLinkActive="active">

        Categorías

      </a>

      <a
        routerLink="/marca"
        routerLinkActive="active">

        Marcas

      </a>

      <a
        routerLink="/presentacion"
        routerLinkActive="active">

        Presentaciones

      </a>

    </div>


    <!-- ADMINISTRACIÓN -->

    <div
      class="menu-section"
      *ngIf="authService.getRol() === 'ROLE_ADMIN'">

      <span class="menu-title">
        Administración
      </span>

      <a
        routerLink="/usuarios"
        routerLinkActive="active">

        👤 Usuarios

      </a>

      <a
        routerLink="/roles"
        routerLinkActive="active">

        🔐 Roles

      </a>

    </div>

    <!-- ADMIN USUARIOS -->
    <div class="menu-section">

      <span class="menu-title">
        Usuarios
      </span>

      <a
        routerLink="/usuarios"
        routerLinkActive="active">

        📥 Gestión Usuarios

      </a>

      <a
        routerLink="/mi-perfil"
        routerLinkActive="active">

        👤 Mi perfil

      </a>
    </div>

  </nav>


  <div class="sidebar-footer">

    <button
      type="button"
      class="logout-button"
      (click)="logout()">

      Cerrar sesión

    </button>

  </div>

</aside>