<nav class="navbar">
  <div class="logo">DStore M1</div>

  <div><button (click)="logout()">Salir</button></div>

  <div class="menu">
    <a routerLink="/inicio">Inicio</a>

    <!-- SOLO ADMIN -->
    <a *ngIf="authService.getRol() === 'ROLE_ADMIN'" routerLink="/usuarios">
      Usuarios
    </a>

    <a *ngIf="authService.getRol() === 'ROLE_ADMIN'" routerLink="/roles">
      Roles
    </a>

    <!-- ADMIN y VENDEDOR -->
    <a routerLink="/tipo-producto">Categoría de Producto</a>
    <a routerLink="/presentacion">Presentación</a>
    <a routerLink="/marca">Marca</a>
    <!-- <a routerLink="/producto">Producto</a> -->
    <!-- <a routerLink="/venta">Ventas</a> -->
    <!-- <a routerLink="/caja">Caja</a> -->
  </div>
</nav>