<div class="usuarios-container">
  <h2>Usuarios</h2>
  <button (click)="openModal()">➕ Crear usuario</button>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Rol</th>
        <th>Nombre Usuario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (usuario of usuarios; track usuario.id) {
      <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.rol.nombre }}</td>
        <td>{{ usuario.nombreUsuario }}</td>
        <td>
          <button (click)="editUsuario(usuario)">✏️ Editar</button>
          <button (click)="deleteUsuario(usuario.id)">🗑️ Eliminar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  @if (modalAbierto) {
  <div class="modal">
    <div class="modal-content">
      <h3>{{ editando ? 'Editar Usuario' : 'Crear Usuario' }}</h3>

      <!-- FORMULARIO -->
      <form #usuarioForm="ngForm" (ngSubmit)="saveUsuario()">

        <input type="text" name="nombre" placeholder="Nombre del usuario" [(ngModel)]="usuarioActual.nombre" required
          #nombre="ngModel" />
        @if (nombre.invalid && nombre.touched) {
        <div class="error">
          ⚠️ El nombre es obligatorio.
        </div>
        }
        <br>
        <input type="text" name="apellido" placeholder="Apellido del usuario" [(ngModel)]="usuarioActual.apellido"
          required #apellido="ngModel" />
        <br>
        <input type="text" name="nombreUsuario" placeholder="Nombre de la cuenta de Usuario"
          [(ngModel)]="usuarioActual.nombreUsuario" required #nombreUsuario="ngModel" />
        @if (nombreUsuario.invalid && nombreUsuario.touched) {
        <div class="error">
          ⚠️ El nombre de la cuenta de Usuario es obligatorio.
        </div>
        }
        <br>
        <input type="text" name="contrasena" placeholder="Contraseña del usuario" [(ngModel)]="usuarioActual.contrasena"
          required #contrasena="ngModel" />
        @if (contrasena.invalid && contrasena.touched) {
        <div class="error">
          ⚠️ La contraseña es obligatoria.
        </div>
        }
        <br>

        <br>
        <label for="idRol">Rol:</label>
        <br />
        <select id="idRol" name="idRol" [(ngModel)]="usuarioActual.rol.id" required>
          <option [ngValue]="null">-- Selecciona un rol --</option>
          <option *ngFor="let rol of roles" [ngValue]="rol.id">
            {{ rol.nombre }}
          </option>
        </select>


        <br>

        <button type="submit" [disabled]="usuarioForm.invalid">
          {{ editando ? 'Guardar cambios' : 'Crear' }}
        </button>
        <button type="button" (click)="closeModal()">Cancelar</button>

      </form>

    </div>
  </div>

  }
</div>