<div class="lote-container">
    <h2>Lote</h2>
    <button (click)="abrirModal()">➕ Crear Lote</button>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Stock</th>
                <th>Vencimiento</th>
                <th>Producto</th>
                <th>Proveedor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (lote of lotes; track lote.id) {
            <tr>
                <td>{{ lote.id }}</td>
                <td>{{ lote.stock }}</td>
                <td>{{ lote.fechaVencimiento }}</td>
                <td>{{ lote.producto.nombre }}</td>
                <td>{{ lote.proveedor.nombre }}</td>
                <td>
                    <button (click)="editarLote(lote)">✏️ Editar</button>
                    <button (click)="borrarLote(lote.id)">🗑️ Eliminar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <!-- Modal -->
    @if (modalAbierto) {
    <div class="modal">
        <div class="modal-content">
            <h3>{{ editando ? 'Editar Lote' : 'Crear Lote' }}</h3>

            <!-- FORMULARIO -->
            <form #formLote="ngForm" (ngSubmit)="guardarLote()">

                <label for="stock">Stock:</label>
                <input type="number" name="stock" placeholder="Stock" [(ngModel)]="loteActual.stock" required
                    #stock="ngModel" />
                @if (stock.invalid && stock.touched) {
                <div class="error">
                    ⚠️ El stock es obligatorio.
                </div>
                }
                <br>
                <label for="vencimiento">Vencimiento:</label>
                <input type="date" name="vencimiento" placeholder="Vencimiento" [(ngModel)]="loteActual.fechaVencimiento"
                    required #vencimiento="ngModel" />

                <br>
                <label for="idProducto">Producto:</label>
                <br>
                <select id="idProducto" name="idProducto" [(ngModel)]="loteActual.producto.id" #idProducto="ngModel">
                    <option value="">-- Selecciona un producto --</option>
                    <option *ngFor="let producto of productos" [value]="producto.id">
                        {{ producto.nombre }}
                    </option>
                </select>
                @if (idProducto.invalid && idProducto.touched) {
                <div class="error">
                    ⚠️ El producto es obligatorio.
                </div>
                }

                <br>
                <label for="proveedor">Proveedor:</label>
                <br>
                <select id="proveedor" name="proveedor" [(ngModel)]="loteActual.proveedor.id" #idProveedor="ngModel">
                    <option value="">-- Selecciona un proveedor --</option>
                    <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                        {{ proveedor.nombre }}
                    </option>
                </select>
                @if (idProveedor.invalid && idProveedor.touched) {
                <div class="error">
                    ⚠️ El proveedor es obligatorio.
                </div>
                }

                <div class="buttons">
                    <button type="submit" [disabled]="formLote.invalid">
                        {{ editando ? 'Guardar cambios' : 'Crear' }}
                    </button>
                    <button type="button" (click)="cerrarModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }