<div class="existencias-container">

  <h2>Existencias de inventario</h2>

    <!-- FILTROS -->
  <div class="filtros">

    <label for="producto">Producto:</label>

    <select
      id="producto"
      name="producto"
      [(ngModel)]="idProductoSeleccionado"
      (ngModelChange)="filtrarPorProducto()">

      <option [ngValue]="null">-- Todos los productos --</option>

      @for (producto of productos; track producto.id) {
        <option [ngValue]="producto.id">
          {{ producto.nombre }}
        </option>
      }

    </select>


    <label>
      <input
        type="checkbox"
        name="soloDisponibles"
        [(ngModel)]="soloDisponibles"
        (ngModelChange)="aplicarFiltros()"
      />
      Solo disponibles
    </label>

  </div>


  <!-- TABLA -->


  <table>
    <thead>
      <tr>
        <th>Existencia</th>
        <th>Nombre Producto</th>
        <th>Cantidad Existente</th>
        <th>Lote</th>
        <th>Fecha Vencimiento</th>
        <th>Fecha de Ingreso</th>
      </tr>
    </thead>

    <tbody>

      @for (existencia of existenciasMostradas; track existencia.id) {

        <tr>

          <td>
            #{{ existencia.id }}
          </td>

          <td>
            {{ existencia.nombreProducto }}
          </td>

          <td>
            {{ existencia.cantidad }}
          </td>

          <td>
            {{ existencia.numeroLote || '-' }}
          </td>

          <td>
            {{ existencia.fechaVencimiento
                ? (existencia.fechaVencimiento | date:'dd/MM/yyyy')
                : '-'
            }}
          </td>

          <td>
            {{ existencia.fechaIngreso  | date:'dd/MM/yyyy HH:mm' }}
          </td>
<!-- 
          <td>
            <button (click)="verDetalle(entrada)">
              👁️ Ver detalle
            </button>
          </td> -->

        </tr>

      }

    </tbody>
  </table>



</div>