<div class="detalle-venta-container">
    <h2>Detalle Venta #{{ venta.id }}</h2>

    <p><b>Estado:</b> {{ venta.estado }}</p>

    @if (venta.estado === 'ANULADA') {
    <div>
        <p><b>Fecha anulación:</b>
            {{ venta.fechaAnulacion | date:'short' }}</p>
        <p><b>Motivo:</b> {{ venta.motivoAnulacion }}</p>
    </div>
    }

    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @for (item of items; track item.id) {
            <tr>
                <td>{{ item.producto}}</td>
                <td>{{ item.cantidad}}</td>
                <td>{{ item.precioUnitario}}</td>
                <td>{{ item.subtotal}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>