<div class="page-container producto-container">
    <h2>Producto</h2>
    <button (click)="abrirModal()">➕ Crear Producto</button>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>IVA</th>
                <th>Marca</th>
                <th>Categoría</th>
                <th>Presentación</th>
                <th>Código de barras</th>
                <th>Stock</th>
                <th>Controla vencimiento</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (producto of productos; track producto.id) {
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>
                    {{ producto.precio | currency:'COP':'symbol-narrow':'1.0-0' }}
                </td>
                <td>{{ mostrarIva(producto) }}</td>
                <td>{{ producto.nombreMarca }}</td>
                <td>{{ producto.nombreCategoria }}</td>
                <td>{{ producto.nombrePresentacion }}</td>
                <td>{{ producto.codigoBarras || '-' }}</td>
                <td>{{ producto.stock }}</td>

                <td>@if (producto.controlaVencimiento) {
                    <span>Si</span>
                    }@else {
                        <span>No</span>
                    }
                </td>
                <td>
                    @if (producto.activo) {
                        <span class="estado-activo">🟢 Activo</span>
                    }@else {
                        <span class="estado-inactivo">🔴 Inactivo</span>
                    }
                </td>

                <td>
                    <button (click)="editarProducto(producto)">✏️ Editar</button>
                    <button (click)="cambiarEstadoProducto(producto)">
                        {{ producto.activo ? '🔴 Desactivar' : '🟢 Activar'}}
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <!-- Modal -->
    @if (modalAbierto) {
    <div class="modal">
        <div class="modal-content">
            <h3>{{ editando ? 'Editar Producto' : 'Crear Producto' }}</h3>

            <!-- FORMULARIO -->
            <form #formProducto="ngForm" (ngSubmit)="guardarProducto()">

                <label for="nombre">Producto:</label>
                <br>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto" [(ngModel)]="productoActual.nombre"
                    required #nombre="ngModel" />
                @if (nombre.invalid && nombre.touched) {
                    <div class="error">
                        ⚠️ El nombre es obligatorio.
                    </div>
                }
                <br>

                <label for="descripcion">Descripción:</label>
                <br>
                <input type="text" id="descripcion" name="descripcion" placeholder="Descripción" 
                    [(ngModel)]="productoActual.descripcion" #descripcion="ngModel" />
                <br>

                <label for="precio">Precio:</label>
                <br>
                <input type="number" id="precio" name="precio" placeholder="Precio" [(ngModel)]="productoActual.precio" required
                    #precio="ngModel" />
                @if (precio.invalid && precio.touched) {
                <div class="error">
                    ⚠️ El precio es obligatorio.
                </div>
                }
                <br>

                <label for="idTarifaIva">Tarifa IVA:</label>
                <br>
                <select 
                    id="idTarifaIva" name="idTarifaIva" 
                    [(ngModel)]="productoActual.idTarifaIva"
                    #idPresentacion="ngModel"
                    required>

                    <option [ngValue]="null">-- Selecciona una tarifa --</option>

                    <option
                        *ngFor="let tarifa of tarifasIva"
                        [ngValue]="tarifa.id">
                        {{ mostrarTarifa(tarifa) }}
                    </option>
                </select>


                <br>
                <label for="idMarca">Marca:</label>
                <br />
                <select 
                    id="idMarca" name="idMarca" 
                    [(ngModel)]="productoActual.idMarca" 
                    #idMarca="ngModel"
                    required>
                    
                    <option [ngValue]="null">-- Selecciona una marca --</option>

                    <option 
                        *ngFor="let marca of marcas" 
                        [ngValue]="marca.id">
                        {{ marca.nombre }}
                    </option>
                </select>

                <br>
                <label for="idCategoria">Categoría de Producto:</label>
                <br />
                <select 
                    id="idCategoria" name="idCategoria" 
                    [(ngModel)]="productoActual.idCategoria"
                    #idCategoria="ngModel"
                    required>

                    <option [ngValue]="null">-- Selecciona una categoría de producto --</option>

                    <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                        {{ categoria.nombre }}
                    </option>
                </select>

                <br>
                <label for="idPresentacion">Presentación:</label>
                <br />
                <select 
                    id="idPresentacion" name="idPresentacion" 
                    [(ngModel)]="productoActual.idPresentacion"
                    #idPresentacion="ngModel"
                    required>

                    <option [ngValue]="null">-- Selecciona una Presentación --</option>

                    <option *ngFor="let categoria of presentaciones" [ngValue]="categoria.id">
                        {{ categoria.nombre }}
                    </option>
                </select>

                <br>
                <label for="codigoBarras">Código de barras:</label>
                <br />
                <input type="text" name="codigoBarras" placeholder="Código de Barras"
                    [(ngModel)]="productoActual.codigoBarras" #codigoBarras="ngModel" />
                <br>

                <br>
                <label for="controlaVencimiento">
                <input
                    type="checkbox"
                    id="controlaVencimiento"
                    name="controlaVencimiento"
                    [(ngModel)]="productoActual.controlaVencimiento"
                />

                Controla vencimiento
                </label>

                <br>

                <button type="submit" [disabled]="formProducto.invalid">
                    {{ editando ? 'Guardar cambios' : 'Crear' }}
                </button>
                <button type="button" (click)="cerrarModal()">Cancelar</button>


            </form>
        </div>
    </div>
    }