<div class="venta-container">
    <h2>Venta</h2>


    <div class="venta-container">
        <h2>Venta</h2>

        <h3>Total: {{ totalGeneral }}</h3>

        <input type="text" placeholder="Código de barras" [(ngModel)]="codigoBuscado"
            (keyup.enter)="buscarPorCodigo()" />

        <input type="number" placeholder="Ingreso" [(ngModel)]="ingresoCliente" min="0" />

        <h4>Vuelto: {{ cambio }}</h4>

        <table class="table-prod-seleccionados">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio Unidad</th>
                    <th>Marca</th>
                    <th>Presentación</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                @for (item of carrito; track item.producto.id; let i = $index) {
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.producto.precio }}</td>
                    <td>{{ item.producto.marca }}</td>
                    <td>{{ item.producto.presentacion }}</td>
                    <td>
                        <input type="number" [(ngModel)]="item.cantidad" name="cantidad-{{ i }}" required min="1"
                            #cant="ngModel" (ngModelChange)="actualizarCantidad(item, $event)" />

                        <div *ngIf="cant.invalid && cant.touched" class="error">
                            ⚠️ La cantidad es obligatoria.
                        </div>
                    </td>

                    <td>{{ calcularSubtotal(item) }}</td>

                    <td>
                        <button (click)="eliminarItem(item)">X</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio Unidad</th>
                    <th>Marca</th>
                    <th>Presentación</th>
                    <th>Codigo de Barras</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (productoStock of productosStock; track productoStock.id) {
                <tr>
                    <td>{{ productoStock.nombre }}</td>
                    <td>{{ productoStock.descripcion }}</td>
                    <td>{{ productoStock.precio }}</td>
                    <td>{{ productoStock.marca }}</td>
                    <td>{{ productoStock.presentacion }}</td>
                    <td>{{ productoStock.codigoBarras }}</td>
                    <td>{{ productoStock.stock }}</td>
                    <td>
                        <button (click)="agregarAlCarrito(productoStock)">Agregar</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>